.addback{
    display: inline-block;
    background-color: darkcyan;
    color: white;
    border-radius: 5px;
    padding: 10px;
}
.color1{
    background-color: #0873A3;
    height: 400px;
    color: cornsilk;
}
.color21{
    background-color: #F15461;
    color: cornsilk;
}
.color2{
    background-color: #F15461;
    height: 400px;
    color: cornsilk;
}