.expandtext{
    color: blanchedalmond;
    background-color: cornflowerblue;
    font-family: 'Lucida Sans';
    font-size: 20pt;
}
.expandtext ~ .add{
    height: 0;
    display: none;
}
.expandtext:hover{
    height: 0%;
    display: none;
}
.expandtext:hover ~ .add{
    height: 100%;
    color: blanchedalmond;
    background-color: cornflowerblue;
    font-family: 'Lucida Sans';
    font-size: 20pt;
    display: inline;
}
.selectbar{
    font-family: 'Lucida Sans';
    color: cornsilk;
    font-size: 15pt;
    border-color: white;
    background-color: darkcyan;
    margin: 2px;
}
.selectbar:hover{
    background-color: darkblue;
    color: white;
}